[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "==2.0.0"
gin-config = "==0.5.0"
psutil = "==5.9.6"
tf-agents = "==0.17.0"
tensorflow = "==2.13.0"
dm-reverb = "==0.13.0"

[dev-packages]
pylint = "==3.0.2"
pytest = "==7.4.3"
pytype = "==2023.10.31"
yapf = "==0.40.2"

[ci]
joblib = "==1.3.2"
shap = "==0.43.0"
